
<div id="dlg" class="easyui-dialog" title="付费信息" style="width:430px;height:600px;top:10px;"
     toolbar="#toolbar"
     iconCls='icon-save'resizable=true modal=true buttons="#buttons" closed=true>
    <style>
        #fm input{width: 250px;}
    </style>
    <form id="fm" method="post" novalidate>

        <div class="fitem">
            <label>协议编号:</label>
            <input name="protocol_num" class="textbox" readonly>
        </div>
        <div class="fitem">
            <label>协议日期:</label>
            <input  name="date" class="textbox" readonly>
        </div>
        <div class="fitem">
            <label>委托单位:</label>
            <input  name="client_name" class="textbox" readonly>
        </div>
        <div class="fitem">
            <label>受检单位:</label>
            <input name="inspected" class="textbox" readonly>
        </div>
        <div class="fitem">
            <label>工程名称:</label>
            <input  name="project_name" class="textbox" readonly>
        </div>

        <div class="fitem">
            <label>付费方式:</label>
            <select id="terms_pay" name="terms_pay"  class="textbox" style="width: 245px;" >
                <option value="1">现金</option>
                <option value="2">刷卡</option>
            </select>
        </div>

        <div class="fitem">
            <label>缴费人:</label>
            <input id="rc_person" name="rc_person" class="textbox" maxlength="20">
        </div>
        <div class="fitem">
            <label>折扣变动:</label>
            <span>否</span><input  type="radio" name="is_reduce" onclick="removeReduce()" style="width: 30px;"value="0">
            <span>是</span><input  type="radio" name="is_reduce"  onclick="reducePrice()" style="width: 30px;" value="1">
        </div>
<!--        <div class="fitem div-discount" id="div_discount" style="display: none">
            <label>折扣数量（折）:</label>
             <select id="discount" class="easyui-combobox" style="width: 255px;" panelHeight="auto">
                 <option>10 </option>
                 <option>9</option>
                 <option>8.5</option>
                 <option>8</option>
                 <option>0</option>
             </select>
        </div>-->

        <div class="fitem div-discount" style="display: none">
            <label >打折审批:</label>
            <select id='checker' class='textbox' style='width: 245px;'>
                  <volist name='checker' id='vo'>
                      <option value='{$vo.id}'>{$vo.name}</option>
                  </volist>
            </select>
        </div>
        <div class="fitem">
            <label>检测费用(元):</label>
            <input  name="price" id="price" class="textbox" readonly>
        </div>
        <div class="fitem" >
            <label>已付费用(元):</label>
            <input id="payed_price" name="payed_price" class="textbox"  readonly>
        </div>
        <div class="fitem">
            <label>缴纳费用(元):</label>
             <input id="plan_pay" name="plan_pay" class="textbox" required="">
        </div>

        <div class="fitem">
            <label>折扣费用(元):</label>
            <input id="discount_price" name="discount_price" class="textbox" required="" readonly>
        </div>

        <div class="fitem">
            <label>发票号:</label>
            <input id="invoice_num" name="invoice_num" class="textbox" required="" >
        </div>
    </form>
</div>
<div id="buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="savePayInfo()" style="width:90px">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')"
       style="width:90px">取消</a>
</div>

