<include file="Public:header" xmlns="http://www.w3.org/1999/html"/>

<script>
    var manger_str="<div id='checker_div'><label for='checker'>打折审批:</label><select id='checker' class='textbox' style='width: 250px;margin: 5px;'>" +
            "<volist name='checker' id='vo'><option value='{$vo.id}'>{$vo.name}</option></volist></select></div>";
    var obj={};
    $(function(){
        var data={};
        if("{$type}"=="0"){
            data['url']="__APP__/Home/Query/getProtocolList/is_pay/0/check_pay/0";
            data['title']="待处理协议";
            data['onDblClickRow']=function(rowIndex, rowData){
                bntClickProgress();
            }
        }else  if("{$type}"=="1"){
            data['url']="__APP__/Home/Query/getProtocolList/checking/1";
            data['title']="审批中协议列表";
        }else  if("{$type}"=="2"){
            data['url']="__APP__/Home/Query/getProtocolList/checked/1";
            data['title']="已审批协议列表";
            data['onDblClickRow']=function(){
                checkConfirm();
            }
        }else if("{$type}"=="3"){
            data["url"]="__APP__/Home/Query/getProtocolList/is_pay/1/payed/0/check_pay/0";
            data['title']="取报告付款协议列表";
            data['onDblClickRow']=function(rowIndex, rowData){
                nowPay(rowData);
            }
        }else if("{$type}"=="4"){
            data["url"]="__APP__/Home/Query/getProtocolList/is_pay/3/payed/0";
            data['title']="协议结算列表";
            data["singleSelect"]=0;
        /*    data['onDblClickRow']=function(rowIndex, rowData){
                bntClickSettle();

            }*/

        }
        else if("{$type}"=="5"){
            data["url"]="__APP__/Home/Query/getProtocolList/payed/1";
            data['title']="已付费协议列表";
            data['onDblClickRow']=function(rowIndex, rowData){
                bntModifyPrice();
            }

        }else if("{$type}"=="6"){
            data["url"]="__APP__/Home/Query/getProtocolList/is_pay/4/payed/0/check_pay/0";
            data['title']="挂账协议列表";
            data['onDblClickRow']=function(rowIndex, rowData){
                nowPay(rowData);
            }
        }
        data.onClickCell=function(rowIndex, field, value){

            if(field=='price'){
                var rows=$('#dg').datagrid('getRows');
                var row=rows[rowIndex];
                $.post("__URL__/detailPrice",{protocol_num:row.protocol_num},function(res){
                    var str='';
                    for(var i in res){
                        str+=res[i]["test_item"];
                    }
                    $.messager.alert("检测费用明细",str);
                });
            }
        }
        $('#dg').datagrid(data);
        $('#btn_search').click(function(){
            btnSearchClick();
        });
        $("#toolbar").css("width","100%");
    });
    function btnSearchClick(){
       var obj={};
        $.each( $('#search_fm' ).serializeArray() ,function(index ,param){
            if (!(param.name in obj)){
                obj[param.name ]=param.value;
            }
        });
        if((obj['date_from']!="")^(obj['date_to']!="")){
            $.messager.alert("操作提示","日期区间不能存在一方为空！");
            return ;
        }
        if(obj['date_from']>obj['date_to']!=""){
               $.messager.alert("操作提示","日期区间存在问题！");
            return ;
        }
        $('#dg').datagrid("load",obj);
    }

     function checkConfirm(){          //   审批结果确认
        var row=isSelected("#dg");
        if(!row) return;
        var post_data={id:row.id};
        var url="__URL__/checkConfirm";
        var confirmStr = "确认审批结果？";
        if((row.is_pay==1||row.is_pay==4)&&(row.check_pay==12||row.check_pay==22)){  //第二次打折结算使用
            url="__URL__/second";
            post_data["check_pay"]=row.check_pay;
        }
        else if(row.check_pay<20){
            if(row.check_pay==11||row.check_pay==13){        //取报告付款 挂账 未付款
                post_data["payed"]=0;
            }else if(row.check_pay==12){                    //打折结算已经付款
                post_data["is_pay"]=2;
                post_data["payed"]=1;
            }else if(row.check_pay == 14){ // 退回协议通过
                confirmStr = "<h3 >金额变动"+row.plan_pay+"元，请出纳！</h3>"
            }
            post_data["step"]=1;                             //进入部门主任步骤
            post_data["check_pay"]=row.check_pay;
            post_data["plan_pay"]= row.plan_pay;
            post_data["payed_price"]= row.payed_price;
        }else{                                               //拒绝就清空所有信息
            //退回协议 领导未通过
            if(row.check_pay==24){
                post_data["check_pay"] = 24;
                post_data["price"] = row.original_price;
                post_data["protocol_num"] = row.protocol_num;
            } else{
                post_data["terms_pay"]=0;
                post_data["plan_pay"]=0;
                post_data["discount_price"]=0;
                post_data["check_pay"]=0;
                post_data["operator_pay"]=0;
                post_data["time_pay"]="";
                post_data["person_pay"]="";
                post_data["is_pay"]=0;
                post_data["leader"]=0;
            }
        }
        confirmPost("#dg",confirmStr,url,post_data)
    }

    function bntClickProgress(){
        var row=isSelected('#dg');
        if(!row) return;
        if(row.is_back == 1){

            nowPay(row);
            return ;
        }

        var str="<div id='pay_type_div'>支付类型：</div>" ;
        str+="<div><span style='width: 70px;display: inline-block;'>立即支付</span><input name='is_pay' type='radio'checked value='2' onclick='c_div1_none()'/></div> ";
        str+="<div style='margin-left: 40px;'><span style='width: 70px;display: inline-block;'>取报告付款</span><input name='is_pay'type='radio' value='1' onclick='checker_div1()'/> </div>";
        str+="<div style='margin-left: 42px;'><span style='width: 70px;display: inline-block;'>协议结算</span><input name='is_pay' type='radio' value='3' onclick='c_div1_none()'/></div> ";
        str+="<div style='margin-left: 42px;'><span style='width: 70px;display: inline-block;'>挂账</span><input name='is_pay' type='radio' value='4' onclick='checker_div1()'/></div> ";
        str+="<div id='checker1_div' style='display: none;margin-left: 42px;'><label for='checker1'>选择审批人员:</label><select id='checker1'multiple='multiple' style='width: 100px;margin: 5px;'>" +
        "<volist name='checker' id='vo' key='k'><option value='{$vo.id}'<if condition='$k eq 1'>selected</if>>{$vo.name}</option></volist></select></div>";
        $.messager.confirm("操作提示",str,function(data){
            if(data){
                var res=$('[name="is_pay"]:checked').val();

                if(res==2){
                    nowPay(row);
                }else if(res==1){
                    var content='<lable>发票号</lable><input id="invoice_num4" style="width: 150px;margin-left: 20px;" value="'+row.invoice_num+'">';
                    var url="__URL__/stepTake";
                    var post_data={check_pay:1,id:row.id,leader:$("#checker1").val(),is_pay:1};
                    var var_data=[{key:"invoice_num",value:"#invoice_num4",type:0}];
                    confirmPost("#dg",content,url,post_data,null,var_data);
                }else if(res==3){  //协议结算直接更新协议信息、进入下一步
                    if(row.discount==null){
                        $.messager.alert("操作提示","该工程并未签订协议！");
                        return ;
                    }
                    var content='<lable>发票号</lable><input id="invoice_num4" style="width: 150px;margin-left: 20px;" value="'+row.invoice_num+'">';
                    var url="__APP__/Home/Cost/submitSettle";
                    var post_data={is_pay:3,id:row.id,step:1};
                    var var_data=[{key:"invoice_num",value:"#invoice_num4",type:0}];
                    confirmPost("#dg",content,url,post_data,null,var_data);
                }else if(res==4){
                    var content='<lable>发票号</lable><input id="invoice_num4" style="width: 150px;margin-left: 20px;" value="'+row.invoice_num+'">';
                    var url="__URL__/stepTake";
                    var post_data={check_pay:3,id:row.id,leader:$("#checker1").val(),is_pay:4};
                    var var_data=[{key:"invoice_num",value:"#invoice_num4",type:0}];
                    confirmPost("#dg",content,url,post_data,null,var_data);
                }
            }
        });
    }
    function nowPay(row){                          //立即付款 弹出模态框
        if(row==null) {
            row=isSelected("#dg");
            if(!row) return;
        }
        $('#fm').form("load",row);
        $('#terms_pay').val(1);
        $("[name='is_reduce']:eq(0)").attr("checked","checked");
        $('#rc_person').val(row.send_person);
        $("#plan_pay").val(row.price);
        $("#payed_price").val(row.payed_price);
        $("#checker_div").remove();
        $('#dlg').dialog('open');
        $('#discount').combobox({
            onSelect:function(){
                var value= $('#discount').combobox('getValue');
                var res = $("#price").val()*parseFloat(value)/10;
                if(isNaN(res)) res = $("#price").val();
                $("#plan_pay").val(res);
            }
        });
        removeReduce();
    }
    function savePayInfo(){             //打折付费发给审批者,直接付款保存信息,刷新步骤 和 不许刷新步骤
        var row=isSelected("#dg");
        var url="";
        var is_pay=row.is_pay;
        if(is_pay==0) is_pay=2;
        debugger;
        var data={id:row.id,person_pay:$('#rc_person').val(),plan_pay:$('#plan_pay').val(),is_pay:is_pay,
            terms_pay:$('#terms_pay').val(),is_reduce:$("[name='is_reduce']:checked").val(),discount_price:$("#discount_price").val(),
            invoice_num:$("#invoice_num").val(),payed_price:row.payed_price};
        if(row.is_back == 1){ //退回报告单独梳理
            url="__URL__/backTask";
        } else if($("[name='is_reduce']:checked").val()==1){
            url="__URL__/reduce";
            data["check_pay"]="2";
            data["leader"]=$("#checker").val();
        }else{
            if(is_pay==2){
                url="{:U('Cost/payNow')}";
                data["step"]=1;
                data["payed"]=1;
            }else{ //挂账 取报告付款
                url="{:U('Cost/takePay')}";
            }

        }
        $.post(url,data,function(res) {
            if(res){
                showSuccess();
                $('#dlg').dialog('close');
                $('#dg').datagrid("reload");
            }
            else{
                $('#dlg').dialog('close');
                showFail();
            }
        });
    }
    function reducePrice(){                      //打折
        $(".div-discount").show();
        $("#discount_price").attr("readonly",false);
    }
    function removeReduce(){
        $(".div-discount").hide();
        $("#discount_price").attr("readonly",true);
    }
    function checker_div1(){
        $("#checker1_div").css("display","block");
    }
    function c_div1_none(){
        $("#checker1_div").css("display","none");
    }
    function bntClickSettle(){             //协议结算 付款按钮点击
        var rows=$("#dg").datagrid("getChecked");
        if(!rows) {$.messager.alert("操作提示","请先选择一行！");return ;}
        var nums=[];
        var total=0;
        //只有同一个合同才能采用多个一起结算
        for(var i=0;i< rows.length-1;i++){
            if(rows[i]["contract_num"]!=rows[i+1]["contract_num"]){
                $.messager.alert("操作提示","多个工程名称！！");
                return ;
            }
        }

        for(var i=0;i< rows.length;i++){
            nums.push(rows[i]["protocol_num"]);
            total+=parseFloat(rows[i]["price"]);
        }
        $('#fm').form('clear');
        $('#protocol_nums').val(nums.join());
        $("#client_name").val(rows[0]["client_name"]);
        $("#project_name").val(rows[0]["project_name"]);
        $("#prices").val(total);
        $("#discount_span").text(rows[0]["discount"]);
        $('#rc_person').val(rows[0]["send_person"]);
        var plan_pay= parseFloat(total)*parseFloat(rows[0]["discount"])/10.00;
        $("#plan_pay").val(plan_pay);
        $('#terms_pay').val(1);
        $('#dlg').dialog('open');
    }
    function saveSettle(){        //提交协议结算信息,已付费
        var rows=$("#dg").datagrid("getChecked");
        var ids=[];
        var plans=[];
        for(var i=0;i< rows.length;i++){
            ids.push(rows[i]["id"]);
            var price=rows[i]["price"];
            if(rows[i]["discount"])
            price=parseFloat(price)*parseFloat(rows[i]["discount"])/10.0;

            plans.push(price)
        }
        var data={ids:ids,prices:$("#prices").val(),invoice_num:$("#invoice_num").val(),
            terms_pay:$('#terms_pay').val(),plan_pay:plans,person_pay:$("#rc_person").val(),payed:1};
        $.post("__URL__/saveSettle",data,function(res){
            if(res) {
                $("#dg").datagrid("reload");
                $("#dlg").dialog("close");
                showSuccess();
            }
            else showFail();
        })
    }
/*    function bntModifyPrice(){      //已经付费的协议添加费用
        var row=isSelected("#dg");
        if(!row) return;
        var str="<div>增加费用金额</div>";
        str+="<input id='add'name='add' class='textbox' value='0' type='text'/>";
        var data={"id":row.id};
        var var_data=[{key:"add",value:"#add",type:0}];
        confirmPost("#dg",str,"__URL__/modifyPrice",data,null,var_data);
    }*/
    function bntModifyInvoice(){
        var row=isSelected("#dg");
        if(row==null) return ;
        var content='<lable>发票号</lable><input id="invoice_num4" style="width: 150px;margin-left: 20px;" value="'+row.invoice_num+'">';
        var url="__URL__/modifyInvoice";
        var post_data={id:row.id};
        var var_data=[{key:"invoice_num",value:"#invoice_num4",type:0}];
        confirmPost("#dg",content,url,post_data,null,var_data);
    }
</script>
<div style="height: 100%;;width: 96%;position: fixed;">
    <include file="Cost:table_cost" xmlns="http://www.w3.org/1999/html"/>
</div>
<if condition="$type eq 0 or $type eq 3 or $type eq 6">
    <include file="Cost:dlg_paying" xmlns="http://www.w3.org/1999/html"/>
    <elseif condition="$type eq 4"/>
    <include file="Cost:dlg_settle" xmlns="http://www.w3.org/1999/html"/>
</if>

<div id="toolbar" >
    <a id="btn_search" class="easyui-linkbutton" plain="true" iconCls="icon-search">搜索</a>
    <if condition="$type eq 0">
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="bntClickProgress()">处理协议</a>
    </if>
    <if condition="$type eq 2">
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="checkConfirm()">确认审批</a>
    </if>
    <if condition="$type eq 3 or $type eq 6">
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="nowPay()">费用结算</a>
    </if>
    <if condition="$type eq 4">
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="bntClickSettle()">费用结算</a>
    </if>
    <if condition="$type eq 5">
 <!--       <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="bntModifyPrice()">费用修改</a>-->
        <a href="__URL__/getExcelCost/payed/1"  class="easyui-linkbutton" iconCls="icon-print" plain="true" >Excel导出</a>
    </if>
    <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="bntModifyInvoice()">发票号修改</a>
    <include file="Cost:search_text"/>

</div>

<include file="Public:footer" xmlns="http://www.w3.org/1999/html"/>