<include file="Public:header" xmlns="http://www.w3.org/1999/html"/>
<style type="text/css">
    #fm{
        margin:0;
        padding:10px 30px;
    }
    .ftitle{
        font-size:14px;
        font-weight:bold;
        padding:5px 0;
        margin-bottom:10px;
        border-bottom:1px solid #ccc;
    }
    .fitem{
        margin-bottom:5px;
    }
    .fitem label{
        display:inline-block;
        width:80px;
    }
    .fitem input,select{
        width:160px;
    }
</style>
<script>
    function saveRecharge(){
        if(!$('#fm').form("validate")) return;
        $.post("__URL__/saveRecharge",$("#fm").serializeArray(),function(data){
            if(data){
                $('#fm').form("clear");
                showSuccess();
            }else{
                showFail();
            }
        });
    }
</script>
<div id="dlg" class="easyui-dialog"  width="400px;" style="padding: 10px;"
     buttons="#btn">
    <div class="ftitle">充值信息</div>
    <form id="fm" method="post" novalidate>

        <div class="fitem">
            <label>公司名称:</label>
            <select  name="client_id" class="easyui-combobox "  style="width: 200px;"  required="">
                <volist name="client" id="vo">
                    <option value="{$vo.id}">{$vo.company}</option>
                </volist>
            </select>
        </div>
        <div class="fitem">
            <label>充值人姓名:</label>
            <input  name="rc_person" class="easyui-textbox" style="width: 200px;">
        </div>
        <div class="fitem">
            <label>充值金额:</label>
            <input name="rc_cnt" class="easyui-numberbox" style="width: 200px;" required="" precision="2">
        </div>
    </form>
</div>
<div id="btn">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveRecharge()" style="width:90px">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick=" $('#fm').form('clear');" style="width:90px">取消</a>
</div>
<include file="Public:footer" xmlns="http://www.w3.org/1999/html"/>
