

<div style="height: 100%;;width: 96%;position: fixed;">
    <table id="dg"  style="width:100%;min-height: 90%;"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true"
           singleSelect="true" pageSize="{$pageSize}" pageList="{$pageList}"
           resizable="true">
        <thead>
        <tr >
            <if condition="$type eq 4">
                <th field="id" checkbox="true"></th>
            </if>
            <th field="protocol_num">协议编号</th>
            <if condition="$type eq 2">
                 <th field="check_pay" formatter="fm_check_pay">审批结果</th>
            </if>
            <th field="date" >协议日期</th>
            <th field="client_name">委托公司</th>
            <th field="inspected"  >受检单位</th>
            <th field="project_name">工程名称</th>
            <th field="contract_num">合同编号</th>
            <th field="discount">折扣</th>
            <th field="price">检测费用(元)</th>
            <th field="payed_price">已收费用(元)</th>
            <th field="discount_price">折扣费用(元)</th>
            <if condition=" $type gt 0">
                <th field="plan_pay"   >缴纳费用(元)</th>
                <th field="is_pay"  formatter="fm_ip">付款类型</th>
                <th field="terms_pay"  formatter="fm_terms_pay">支付方式</th>
                <th field="operator_name"  >操作员</th>
                <th field="person_pay"  >付款者</th>
                <th field="invoice_num">发票号</th>
            </if>
            <th field="send_person">送样人</th>
            <th field="tel">送样人电话</th>
            <th field="receive_person">收样人</th>
            <if condition="$type eq 5">
                <th field="time_pay"  >付费日期</th>
                <elseif condition="$type neq 0"/>
                <th field="time_pay"  >操作日期</th>
            </if>

        </tr>
        </thead>
    </table>
</div>