<div style="width: 600px;height: 30px;position: relative;">

        <div class="easyui-linkbutton" style="width: 100px;height: 30px;float: left">文件选择...</div>
        <input id="fade_input" class="textbox" type="text" readonly style="float: left;height: 30px;width: 200px;background: #e8e8e8;margin-left: 10px;">
        <input name="file" id="file_input" type="file"  style="position: absolute;width: 320px;height: 30px;top: 0px;left: 0px;z-index: 99;opacity: 0;cursor: pointer;" required="">

        <input type="submit" class="easyui-linkbutton c4" data-options="iconCls:'icon-save'"
               style="width: 100px;height: 35px;float: left;margin-left: 50px;" value="上传">
</div>
