<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>在线试验委托系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/default.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/demo/demo.css">


    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/outlook2.js"></script>


</head>
<body class="easyui-layout" data-options="fit:true">