<include file="Public:header" xmlns="http://www.w3.org/1999/html"/>

<div style="height: 100%;;width: 100%;position: fixed;">
    <table id="dg" title="合同信息列表"
           style="width:95%;height: 90%;"
           toolbar="#toolbar" pagination="true"
           rownumbers="true"
           singleSelect="true" pageSize="{$pageSize}" pageList="{$pageList}">
        <thead>
        <tr >
            <th field="contract_num" width="100px">合同编号</th>
            <if condition="$type eq 1">
                <th field="client" width="200px">委托单位</th>
                <th field="inspected" width="200px">受检单位</th>
            </if>
            <th field="name" width="200px">工程名称</th>
            <th field="contact" width="100px">联系人</th>
            <th field="tel" width="100px">联系电话</th>
            <th field="discount" width="70px">折扣(折)</th>
            <th field="amount" width="100px">合同金额</th>
            <th field="c_deadline" width="100px">合同截止日期</th>
            <th field="operator_name" width="100px">操作人员</th>
            <th field="sign_date" width="150px">操作时间</th>
        </tr>
        </thead>
    </table>
</div>
<div id="toolbar">
    <a  class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUnit()">新的合同</a>
    <a  class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUnit()">修改合同</a>
    <a  class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUnit()">删除合同</a>
</div>

<div id="new_dlg" class="easyui-dialog  " style="width:450px;height:400px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons3">
    <div class="ftitle">基本信息</div>
    <form id="new_fm" method="post" novalidate>
        <div class="fitem">
            <label>合同编号:</label>
            <input name="contract_num" class="easyui-validatebox textbox" required="" >
        </div>
        <if condition="$type eq 1">
            <div class="fitem">
                <label>委托单位:</label>
                <select id="client_id" name="company_id" class="easyui-combobox" required=""  style="width: 255px;">
                </select>
            </div>
            <div class="fitem">
                <label>受检单位:</label>
                <select id="inspected_id" name="inspected_id" class="easyui-combobox" required=""  style="width: 255px;">
                </select>
            </div>
        </if>
        <div class="fitem">
            <label>工程名称:</label>
            <select id="project_id" name="project_id" class="easyui-combobox" required=""  style="width: 255px;">
            </select>
        </div>
        <div class="fitem">
            <label>联系人:</label>
            <input name="contact" class="textbox" required="" >
        </div>
        <div class="fitem">
            <label>联系电话:</label>
            <input name="tel" class="textbox" required="" >
        </div>
        <if condition="$type eq 1" >
            <div class="fitem">
                <label>合同金额:</label>
                <input id="amount"name="amount" class="textbox" required=""  >
            </div>
        </if>
        <div class="fitem">
            <label>折扣(折):</label>
            <input id="discount"name="discount" class="textbox" required=""  >
        </div>
        <div class="fitem">
            <label>合同截止日期:</label>
            <input id="c_deadline"name="c_deadline" class="easyui-datebox"  >
        </div>
    </form>
</div>
<div id="dlg-buttons3">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUnit()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#new_dlg').dialog('close')"
       style="width:90px">取消</a>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var  url = '__URL__/getContractList/type/{$type}';
        $('#dg').datagrid({
            url:url,
            onDblClickRow: function(index,row){
                editUnit();
            }
        });
        $('#client_id').combobox({
            url:'__URL__/getUnitList/type/0',
            valueField:'id',
            textField:'company'
        });
        $('#inspected_id').combobox({
            url:'__URL__/getUnitList/type/0',
            valueField:'id',
            textField:'company'
        });
        $('#project_id').combobox({
            url:'__URL__/getUnitList/type/1',
            valueField:'id',
            textField:'name'
        });
    });
    var url;
    function newUnit(){
        $('#new_dlg').dialog('open').dialog('setTitle','添加信息');
        $('#new_fm').form('clear');
        $("#discount").val(10);
        url = '__URL__/submitContract/type/{$type}';
    }
    function editUnit(){
        var row = isSelected("#dg");
        if(row==null) return ;
        if (row){
            $('#new_dlg').dialog('open').dialog('setTitle','修改信息');
            $('#new_fm').form('load',row);
            $("#client_id").combobox("setValue",row.client_id);
            $("#inspected_id").combobox("setValue",row.inspected_id);
            $("#project_id").combobox("setValue",row.project_id);
            url = '__URL__/submitContract/type/{$type}/id/'+row.id;
        }
    }
    //保存确认
    function saveUnit(){
        if('__URL__/submitContract'==url){
            $.messager.confirm("操作提示","确认添加新的合同信息么？",function(flg){
                if(flg){
                    saveOperate();
                }
            });
        }
      else{
            saveOperate();
        }
    }
    function saveOperate(){
        var data = serializeObject("#new_fm");
        data["project_name"] = $("#project_id").combobox("getText");
        if("{$type}" == "1"){
            data["client_name"] = $("#client_id").combobox("getText");
            data["inspected_name"] = $("#inspected_id").combobox("getText");
        }
        if($("#new_fm").form('validate')){
            $.post(url,data,function(){
                $('#dg').datagrid("reload");
                comboboxReload();
                $('#new_dlg').dialog('close');
            });
        }
    }
    function destroyUnit(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.confirm('操作确认','确定删除?',function(r){
                if (r){
                    url='__URL__/deleteContract/type/{$type}/id/'+row.id+"/project_id/"+row.project_id;
                    $.post(url, {},function (data, textStatus){
                                $('#dg').datagrid("reload");
                            },
                            'json'
                    );
                }
            });
        }
    }
    function comboboxReload(){
        $('#client_id').combobox('reload');
        $('#inspected_id').combobox('reload');
        $('#project_id').combobox('reload');
    }
</script>
<style type="text/css">
    #fm{
        margin:0;
        padding:10px 30px;
    }
    .ftitle{
        font-size:14px;
        font-weight:bold;
        padding:5px 0;
        margin-bottom:10px;
        border-bottom:1px solid #ccc;
    }
    .fitem{
        margin-bottom:5px;
    }
    .fitem label{
        display:inline-block;
        width:80px;
    }
    .fitem input{
        width:250px;
    }
</style>
<include file="Public:footer" xmlns="http://www.w3.org/1999/html"/>
