<table id="dg"
       style="width:100%;min-height: 80%;;float: left;"
       toolbar="#toolbar" pagination="true"
       rownumbers="true"
       singleSelect="true" pageSize="{$pageSize}" pageList="{$pageList}" resizable="true">
    <thead>
    <tr>
        <th width="100px" field="date">协议日期</th>
        <th width="100px" field="protocol_num">协议编号</th>
        <th width="100px" field="client_name">委托单位</th>
        <th width="100px" field="project_name">工程名称</th>
        <th width="100px" field="send_person">送样人</th>
        <th width="100px" field="tel"  >联系电话 </th>
        <th width="100px" field="price">试验费用</th>
        <th width="100px" field="inspected">受检单位</th>
        <th width="100px" field="industry_type" formatter="fm_industry_type" >行业类别</th>
        <th width="100px" field="check_type">检验类别</th>
        <th width="100px" field="witness_contact">见证人</th>
        <th width="100px" field="witness_company">见证单位</th>
        <th width="100px" field="witness_tel">联系电话 </th>
        <th width="100px" field="receive_person">收样人  </th>
        <th width="100px" field="report_cnt">报告数量</th>
        <th width="100px" field="is_conform">是否做符合性声明  </th>
        <th width="100px" field="back_type">退样方式  </th>
        <th width="100px" field="take_type" >报告提取方式</th>
        <th width="100px" field="mail_contact">收件人</th>
        <th width="100px" field="mail_tel">联系电话</th>
        <th width="100px" field="mail_number" >邮编</th>
        <th width="100px" field="mail_address" >邮寄地址</th>
    </tr>
    </thead>
</table>