
    <table style="width: 800px;margin-top: 5px;">
        <tr >
            <td>样品编号：</td>
            <td><input name="sample_num" class="textbox"></td>
            <td>样品名称：</td>
            <td><input name="sample_name" class="textbox"></td>
            <td>检测项目：</td>
            <td><input name="test_item" class="textbox"></td>
        </tr>
        <tr >
            <td>截止日期：</td>
            <td><input name="dead_from" class="easyui-datebox"></td>
            <td>到：</td>
            <td><input name="dead_to" class="easyui-datebox"></td>
            <if condition="($step neq 1 or $type neq 0) and $step neq 2 ">
                <td>试验人：</td>
                <td>
                    <select name="tester" class="my-select">
                        <option value="">全部</option>
                        <volist name="tester" id="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </volist>
                    </select>
                </td>
            </if>

        </tr>
    </table>